@use 'abstracts' as abs;

:host {
        padding: .6rem 1.6rem;
        border: abs.fnc-clampify(1, 2) solid abs.$var-secondary;
        gap: 1.6rem;
        @include abs.mix-flex($aln: center);
        @include abs.mix-font('Open sans', 13, 16);

        .logo {
            width: 2.4rem;
        }

        .conversion {
            display: inline-block;
            width: 20ch;
            overflow-x:auto;
            line-height: 300%;
            
            &::-webkit-scrollbar {
                height: 4px;
            }
            
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: rgba(155, 155, 155, 0.5);
                border-radius: 2px;
                border: transparent;
            }
        }

        .name {
            opacity: .8;
        }
    
}